@import "tailwindcss" source(none);
@source "../index.html";
@source "./**/*.{js,jsx,ts,tsx}";

@theme {
  /* Desi Heavy Color Palette */
  --color-shadi-maroon: #7d0a0a;
  --color-shadi-emerald: #064e3b;
  --color-shadi-gold: #d4af37;
  --color-shadi-cream: #fffdf5;
  --color-shadi-pink: #db2777;

  /* Typography */
  --font-serif: "Playfair Display", serif;
  --font-cursive: "Great Vibes", cursive;
}

:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--color-shadi-cream);
}